.shop_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Product_container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
/* .Cart_container{
    position: fixed;
    right: 0;
    margin-right: 20px;
} */

@media only screen and (max-width: 500px) {
    .shop_container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .Product_container {
       display: grid;
       grid-template-columns: repeat(3,1fr) ;
    }
    .Cart_container{
        position: fixed;
        right: 0;
        margin-right: 20px;
    }
  }
@media only screen and (max-width: 900px) {
    .shop_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Product_container {
       display: grid;
       grid-template-columns: 1fr 1fr ;
    }
    .Cart_container{
        position: fixed;
        right: 0;
        margin-right: 20px;
    }
  }